<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>
    <h1>Member List</h1>
    <ul>
        {{#members}}
        <li>id: {{id}}, name: {{name}}, age: {{age}}</li>
        {{/members}}
    </ul>
</body>
</html>