<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale=1.0 ">
    <meta http-equiv = "X-UA-Compatible" content = "ie = edge">
    <title>Greetings2</title>
</head>
<body style="text-align: center;"></body>
    <br>
    <h1>Bye, {{name}}!</h1>
    <h2>Bye, {{name}}!</h2>
    <h3>Bye, {{name}}!</h3>
    <h4>Bye, {{name}}!</h4>
    <h5>Bye, {{name}}!</h5>
    <br>
    <p>다음에 또 만나요.</p>
</body>
</html>