<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0, maximum-scale=1.0 ">
    <meta http-equiv = "X-UA-Compatible" content = "ie = edge">
    <title>Greetings</title>
</head>
<body style="text-align: center;"></body>
    <br>
    <h1>Welcome to our website!</h1>
    <h2>Welcome to our website!</h2>
    <h3>Welcome to our website!</h3>
    <h4>Welcome to our website!</h4>
    <h5>Welcome to our website!</h5>
    <br>
    
    <br>
    <p>Thank you for visiting.</p>
</body>
</html>