<!-- 왜 안돼 -->
{{>layouts/header}}
    <!-- Contents -->
    <main>
    <!-- 부트스태랩에 bg-dark 클래스에 대해 값이 정해져 있어서 가져오는것임-->

    <div class="bg-dark text-white p-5">
    <h1>{{username}}님 반갑습니다.</h1>
    </div>
    </main>
    <!-- Footer -->
    <div class="mb-5 container-fluid">
    <hr>
    <p>&copy; CloudStudying | <a href="#">Privacy</a> | <a href="#">Terms</a> </p>
    </div>
    
  </body>
</html>